<footer class="footer_area fix">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info  wow fadeInUp " data-wow-duration=".s" data-wow-delay=".3s">
                    <h3 class="f-title">contact info</h3>
                    <ul>
                        <li>Husi International</li>
                        <li>Kallachal, Pulpatta, Malappuram</li>
                        <li>Kerala 676121</li>
                        <li>Email:info&#64;captain.net.in </li>
                        <li>Phone: +91 7558030666</li>
                    </ul>
                    <div class="social__media mb-30">
                        <h3 class="f-title">FOLLOW US ON</h3>
                        <a href="#"><i class="fa fa-facebook-f"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".7s" data-wow-delay=".4s">
                    <h3 class="f-title">Get Help</h3>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="accordion.html">Delivery Information</a></li>
                        <li><a href="accordion.html">Sale Terms & Conditions</a></li>
                        <li><a href="accordion.html">Privacy Notice</a></li>
                        <li><a href="accordion.html">Shopping FAQs</a></li>
                        <li><a href="accordion.html">Returns & Refundss</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".8s" data-wow-delay=".5s">
                    <h3 class="f-title">Popular categories</h3>
                    <ul>
                        <li *ngFor="let category of categories">
                            <a href="category">{{category.ct_name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 offset-xl-1 col-lg-6 col-md-6 col-sm-12">
                <div class="company__info wow fadeInUp " data-wow-duration=".9s" data-wow-delay=".6s">
                    <h3 class="f-title">get in touch</h3>
                    <p>Sign up for all the news about our latest arrivals and<br> get an exclusive early access shopping. Join Us<br>
                    </p>
                    <div class="subscribe pt-20">
                        <form action="#">
                            <input type="email" placeholder="Enter your email here..." />
                            <button>Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom pb-10 mt-60">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 ">
                    <p>Copyright © <span>Captain</span> All Rights Reserved <span></span>
                    </p>
                </div>
                <div class="col-xl-5 offset-xl-2 col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-menu">
                        <ul class="text-end">
                            <li><a href="contact.html">Site Map</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/one-page-nav-min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/jquery.meanmenu.min.js"></script>
<script src="/assets/js/countdown.js"></script>
<script src="/assets/js/ajax-form.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.scrollUp.min.js"></script>
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/swiper-bundle.min.js"></script>
<script src="/assets/js/main.js"></script>